<div class="container">
   <div class="row">
      <div class="col-md-12 col-sm-12">
         <table class="table table-borderd">
            <thead>
               <tr style="text-align: center;">
                  <th colspan="3">
                     <h1><b> AB COMPUTER </b></h1>
                     <h4>
                         <span class="glyphicon glyphicon-phone-alt"></span> 0858 8371 8464<br/>
                         <span class="glyphicon glyphicon-envelope"></span> musaabdillahm9@gmail.com <br/>
                        <span class="glyphicon glyphicon-home"></span> Kradenan Gang 5 No 495 Pekalongan
                     </h4>
                     <p><%= @service.line %></p>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td> Kode Servis</td>
                  <td> : </td>
                  <td><%= @service.code %></td>
               </tr>
               <tr>
                  <td>Nama Pelanggan</td>
                  <td> : </td>
                  <td><%= @service.client.first_name %> <%= @service.client.last_name %></td>
               </tr>
               <tr>
                  <td>No Handphone</td>
                  <td> : </td>
                  <td><%= @service.client.phone_number %></td>
               </tr>
               <tr>
                  <td>Jenis Servis</td>
                  <td> : </td>
                  <td><%= @service.troubel.name %></td>
               </tr>
               <tr>
                  <td><h3 style="font-weight: bold;"> Total Biaya </h3></td>
                  <td><h3 style="font-weight: bold;"> : </h3></td>
                  <td><h3 style="font-weight: bold;"> Rp <%= number_with_delimiter(@service.troubel.price) %> </h3></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
