    <div class="col-md-3" id="stok">
      <div class="thumbnail text-center">
        <div class="row">
          <%= image_tag stok.gambar_url(:normal)%>
        </div>
      <div class="row">
          <p><b><%= link_to ((stok.nama).truncate_words(3)), stok_path(stok) %></b></p>
      </div>
      <div class="row">
        <%= form_for order_item, remote: true do |f| %>
            <h4>Harga: <span style="color: #e60000;">Rp <%= number_with_delimiter(stok.harga_jual, :delimiter => '.') %></span></h4>
              <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1, placeholder: "jumlah" %>
              <%= f.hidden_field :stok_id, value: stok.id %>
              <%= f.submit "Tambah ke Keranjang", class: "btn btn-danger purchase" %>
        <% end %>
      </div>
    </div>
  </div>
