<!-- panel stok -->
<% if @stoks.size == 0 %>
   <p class="text-center"> Tidak ada produk yang siap di jual untuk saat ini </p>
<% else %>
   <div class="col-md-12 col-sm-12">
      <div class="container">
         <%= search_form_for @search do |f| %>
            <div class="input-group">
               <%= f.text_field :nama_cont, placeholder: "Cari Produk", class: "form-control",id:"form-search" %>
               <div class="input-group-btn">
                  <%= f.submit "Cari", class: "btn btn-danger", id: "btn-search" %>
               </div>
            </div>
         <% end %>

         <% @stoks.each do |stok| %>
            <%= render "product_row", stok: stok, order_item: @order_item %>
         <% end %>
      </div>
      <nav class="pagination pull-right">
         <ul class="pagination-xs">
            <nav aria-label="...">
               <ul class="pager">
                  <li><%= link_to_previous_page (@stoks),'Sebelumnya' %></li>
                  <li><%= link_to_next_page (@stoks),'Selanjutnya' %></li>
               </ul>
            </nav>
         </ul>
      </nav>
   </div>
<% end %>
