<div class="col-md-12 col-sm-12">
<div class="container">
<div class="col-md-6 col-sm-6" id="grid-right">
<h2>Daftar</h2>
  <div class="form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= f.label :kata_sandi %>
    <% if @minimum_password_length %>
    <em>(minimum <%= @minimum_password_length %> karakter)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= f.label :konfirmasi_kata_sandi %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit "Daftar", class: "btn btn-default btn-lg" %>
  </div>
<% end %>
</div><!-- form -->
<%= render "devise/shared/links" %>
</div><!-- col-md-6 col-sm-6 -->
</div>
</div>
<style type="text/css">

  #grid-right {
      border-right: 1px dashed #e60000;
    }
    
</style>

