<div class="col-md-12 col-sm-12">
<% if @orders.size == 0 %>
   <p class="text-center">
      Tidak ada transaksi yang tercatat untuk saat ini
   </p>
<% else %>
   <div class="container">
      <h3>Daftar Transaksi</h3>
      <table class="table table-striped">
         <thead>
            <tr>
               <td><strong>Status</strong></td>
               <td><strong>Total Transaksi</strong></td>
               <td><strong>Tanggal</strong></td>
               <td><strong>Total Produk</strong></td>
               <td colspan="2"><strong> </strong></td>
            </tr>
         </thead>
         <tbody>
            <% @orders.each do |o| %>
            <tr>
               <td><%= o.order_status.nama.reverse! %></td>
               <td>Rp <%= number_with_delimiter(o.total, :delimiter => '.') %></td>
               <td><%= o.created_at.strftime("%d %b %Y") %></td>
               <td> <%= o.jumlah %> </td>
               <td><%= link_to "Detail", order_path(o), class: "btn btn-default" %></td>
               <% if can? :destroy, Order %>
                  <td>
                     <%= link_to "Hapus", delete_order_path(o), data: {confirm: "apakah yakin ingin menghapus transaksi ?"}, class: "btn btn-default" %>
                  </td>
               <% end %>
            </tr>
            <% end %>
         </tbody>
      </table>
      <nav class="pagination pull-right">
         <ul class="pagination-xs">
            <nav aria-label="...">
               <ul class="pager">
                  <li><%= link_to_previous_page (@orders),'Sebelumnya' %></li>
                  <li><%= link_to_next_page (@orders),'Selanjutnya' %></li>
               </ul>
            </nav>
         </ul>
      </nav>
   </div>
<% end %>
</div>
