   <div class="row">
      <div class="table responsive">
         <table class="table table-condensed table-resposive">
            <tbody>
               <td class="col-md-6 col-sm-6">
                  <h4><%= stok.nama %></h4>
                  <h4>Harga Satuan: <span style="color: #e60000;">Rp <%= number_with_delimiter(order_item.unit_price, :delimiter => '.') %></span></h4>
               </td>
               <td class="col-md-6 col-sm-6">
                     <%= form_for order_item, remote: true do |f| %>
                        <div class="row">
                           <div class="col-md-4 col-sm-4">
                              <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
                              <%= f.hidden_field :stok_id, value: stok.id %>
                           </div>
                           <div class="col-md-8 col-sm-8">
                              <div class="btn-group">
                                 <%= f.submit "Perbarui Jumlah", class: "btn btn-default" %>
                                 <%= link_to "Hapus", order_item, data: { confirm: "Apakah anda yakin akan menghapus'#{order_item.stok.nama}' dari keranjang?"}, method: :delete, remote: true, class: "btn btn-danger" %>
                              </div>
                           </div>
                       </div>
                        <h4 >Total Harga: <span style="color: #e60000;"><%= number_with_delimiter(order_item.total_price, :delimiter => '.') %></span></h4>
                     <% end %>
               </td>
            </tbody>
         </table>
      </div>
   </div>
