<% if !@order_item.nil? && @order_item.errors.any? %>
   <div class="alert alert-danger">
      <ul>
         <% @order_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
      </ul>
   </div>
<% end %>

<% if @order_items.size == 0 %>

   <div class="text-center">
      <h4>Anda tidak mempunyai produk yang di tambahkan ke keranjang.</h4><br/>
      <%= button_to stoks_path(@stok),method: :get, class: "btn btn-lg btn-danger" do %>
         <i class="glyphicon glyphicon-shopping-cart"></i> Belanja Sekarang
         <% end %>
   </div>
<% else %>
   <div class="container">
      <% @order_items.each do |order_item| %>
         <%= render 'carts/cart_row', stok: order_item.stok, order_item: order_item, show_total: true %>
      <% end %>
      <%= button_to "Selesaikan Transaksi", check_out_route_path, method: :get, class: "btn btn-lg btn-success pull-left"%>

         <%= button_to stoks_path(@stok),method: :get, class: "btn btn-lg btn-danger pull-right" do %>
            <i class="glyphicon glyphicon-shopping-cart"></i> Belanja Lagi
            <% end %>

   </div>
<% end %>
