<% if !@order_item.nil? && @order_item.errors.any? %>
   <div class="alert alert-danger">
      <ul>
         <% @order_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
      </ul>
  </div>
<% end %>

<% if @order_items.size == 0 %>
   <p class="text-center">
      Anda tidak mempunyai produk yang di tambahkan ke keranjang.<br/><br/>
      <%= link_to "Belanja Sekarang", stoks_path(@stok), class: "btn btn-lg btn-danger"%>
   </p>
<% else %>
   <div class="container well">
      <% @order_items.each do |order_item| %>
         <%= render 'carts/cart_row', stok: order_item.stok, order_item: order_item, show_total: true %>
      <% end %>
      <%= link_to "Selesaikan Transaksi", check_out_route_path, class: "btn btn-default"%>
      <%= link_to "Belanja Lagi", stoks_path(@stok), class: "btn btn-danger"%>
   </div>
<% end %>
