<div class="col-md-8 col-md-offset-2">
   <h1>Form Hak Akses</h1>
   <div class="panel panel-default">
   <!-- Default panel contents -->
      <div class="panel-body">

         <div class="col-md-9">
            <%= form_for(@role) do |r| %>
            <!-- error explanation-->
            <div class="form-group">
               <%= r.label :id, class: "control-label"%>
               <%= r.text_field :id, class: "form-control" %>
            </div>
            <div class="form-group">
               <%= r.label :nama, class: "control-label"%>
               <%= r.text_field :nama, class: "form-control" %>
            </div>
            <%= r.submit "Simpan", class: "btn btn-default btn-lg" %>
            <% end %>
         </div>
      </div>
  </div>
</div><!-- col-md-12 -->
