  <!-- form -->
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-heading text-center" style="background-color: #e60000; color: #fff;"><h4>Ubah Kategori</h4></div>
      <div class="panel-body">
        <div class="col-md-8">
          <%= render 'shared/error_messages', :object => @kategori %>
          <div class="thumbnail">
            <%= image_tag @kategori.gambar_url(:thumb) %>
          </div>
          <%= form_for(@kategori) do |k| %>
          <!-- error explanation-->
            <div class="form-group">
              <%= k.label :gambar, class: "control-label"%>
              <%= k.file_field :gambar %>
            </div>
            <div class="form-group">
              <%= k.label :nama, class: "control-label"%>
              <%= k.text_field :nama, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= k.label :deskripsi, class: "control-label"%>
              <%= k.text_area :deskripsi, class: "form-control" %>
            </div>
              <%= k.submit "Simpan", class: "btn btn-default btn-lg" %>
          <% end %>
        </div>
      </div>
    </div>
  </div><!-- col-md-12 -->


  <style type="text/css">
  .thumbnail {
    height: 75px;
    width: 75px;
  }
  .thumbnail img{
    width: 100%;
  }
  </style>
