<% if @kategori.stoks.size == 0 %>
		<p class="text-center">
			<i>produk untuk kategori <%= @kategori.nama %> tidak tersedia untuk saat ini</i>
			<strong><%= link_to 'Tambah Stok',new_kategori_stok_path(@kategori) %></strong>
		</p>
<% else %>
	<div class="jumbotron">
		<h1>
			<%= @kategori.nama %>
		</h1>
		<% if can? :update?, Kategori %>
			<div class="btn-group">
				<%= button_to edit_kategori_path(@kategori),method: :get, class: "btn btn-default" do %>
					<i class="glyphicon glyphicon-wrench"></i> Ubah
					<% end %><br>
				<%= button_to @kategoris,method: :delete, data: {confirm: "Apakah anda yakin akan menghapus produk #{@kategori.nama} ?"}, class: "btn btn-danger" do %>
					<i class="glyphicon glyphicon-trash"></i> Hapus
					<% end %>
			</div>
		<% end %>
		<p><small><%= @kategori.deskripsi %></small> </p>
	</div>
	<div class="navbar navbar-default">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#">Lihat Stok <%= "#{@kategori.nama}" %></a></li>
			<li role="presentation"><%= link_to 'Tambah Stok',new_kategori_stok_path(@kategori) %></li>
		</ul>
	</div>
<!-- panel stok -->
	<div class="container">
		<div class="col-md-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Daftar stok <%= @kategori.nama %>
				</div>
				<div class="panel-body">
						<% @stoks.each do |s| %>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="thumbnail thumbnail-link">
								<%= link_to (image_tag s.gambar_url(:normal)),stok_path(s) %>
								<div class="caption">
									<h3>Rp <%= number_with_delimiter(s.harga_jual, :delimiter => '.' )  %></h3>
									<p><%= s.nama.truncate_words(7) %></p>
								</div>
							</div>
						</div>
						<% end %>
				</div>
			</div>
			<!--navigasi halaman -->
			<nav class="pagination pull-right">
	    		<ul class="pagination-xs">
	    			<nav aria-label="...">
	      			<ul class="pager">
	        				<li><%= link_to_previous_page (@stoks),'Sebelumnya' %></li>
	        				<li><%= link_to_next_page (@stoks),'Selanjutnya' %></li>
	      			</ul>
	    			</nav>
	    		</ul>
	  		</nav>
		</div>
	</div>
<% end %>
