<!--Global Navigation -->

<div class="row">
   <nav class="navbar navbar-fixed-top">
      <div class="col-md-3 col-sm-3">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/stoks" >AB Computer</a>
         </div>
      </div>

      <div class="col-md-9 col-sm-9">
         <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
               <% if can? :manage, @activities %>
               <li><%= link_to services_path(@service) do %>
                     <i class="glyphicon glyphicon-wrench"> Servis</i>
                     <% end %>
               </li>
               <li><%= link_to clients_path(@client) do %>
                     <i class="glyphicon glyphicon-user"> Pelanggan</i>
                     <% end %>
               </li>
               <li class="dropdown">
    			      <a href="#" class="dropbtn"><span class="glyphicon glyphicon-gift"></span> Stok</a>
    			         <div class="dropdown-content">
                        <%= link_to "Tambah Kategori Stok",new_kategori_path %>
                        <%= link_to "Daftar Kategori Stok",kategoris_path %>
      				      <%= link_to "Tambah Stok",new_stok_path %>
                        <%= link_to "Daftar Stok",stoks_path %>
    			         </div>
    		      </li>
    		      <li class="dropdown">
                  <a href="#" class="dropbtn"><span class="glyphicon glyphicon-transfer"></span> Transaksi</a>
                  <div class="dropdown-content">
                        <%= link_to "Transaksi",orders_path %>
                  </div>
               </li>
               <% end %>
               <li class="dropdown">
            	   <a href="#" class="dropbtn"><span class="glyphicon glyphicon-user"> Akun</span></a>
    			      <div class="dropdown-content">
                     <%= link_to "Pengaturan",edit_user_registration_path %>
                     <% if can? :manage, @activities %>
                     <%= link_to "Angkat Admin", new_user_registration_path %>
                     <%= link_to "Aktifitas", activities_path %>
                     <%= link_to "Hak Akses", roles_path %>
                     <% end %>
      				   <%= link_to destroy_user_session_path, method: :delete do %>
              	         <i class="glyphicon glyphicon-log-out"> Keluar</i>
              		      <% end %>
    			      </div>
               </li>
               <li class="cart-text" style="border-left: 1px dotted #fff; border-right: 1px dotted #fff;">
                  <%= render 'layouts/cart_text' %>
               </li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
   </nav>
</div>
