<!DOCTYPE html>
<html>
   <head>
      <title>Abcom</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
   </head>
   <body>

      <!-- flash messages -->
      <div class="col-md-12 col-sm-12 flash-messages">
         <div class="row">
            <%= flash_messages %>
         </div>
      </div>

      <!-- body-->
      <div class="row">
         <div class="col-md-12 col-sm-12">
            <div class="container">
            <nav class="navbar navbar-fixed-top">
               <% if user_signed_in? %>
                  <%= render 'layouts/global_nav' %>
               <% else %>
            	  <%= render 'layouts/header_login' %>
               <% end %>
            </nav>
         </div>
         </div>
      </div>

      <%= yield %>

   </body>
   <!-- footer -->
   <div class="row">
      <div class="container">
         <nav class="navbar navbar-bottom">
             <div class="col-md-4 col-sm-4">
               <p class="text-muted">&copy 2016 AB Computer</p>
            </div>
            <div class="col-md-8 col-sm-8 text-right">
            </div>
         </nav>
      </div>
   </div>
</html>
